{% extends "products/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/products/images/main-img.jpg');">
<div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 ftco-animate text-center">
      <h1 class="mb-0 bread">Collections of lamps</h1>
    </div>
  </div>
</div>
</div>

{% csrf_token %}
<section class="ftco-section">
    <div class="container justify-content-center d-flex"">
        <div class="d-flex align-items-center mb-2">
            <span style="font-size:2rem">Error! Payment cancelled! </span>
        </div>
    
    </div>
</section>


{% endblock %}