{% extends "products/base.html" %}

{% block content %}

{% csrf_token %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="col-md-3 col-lg-3 d-flex align-items-center mb-2">
            <span style="font-size:1.3rem">Currency: </span>
            <div class="select-wrap col-7">
                
                <select name="" id="currencies" class="form-control">
                    {% for currency in currencies %}
                        <option value="{{currency.code}}">{{currency.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody id="products">
                    </tbody>
                  </table>
              </div>
              <p class="justify-content-end d-flex"><a  style="color:white;" onclick="createCheckouSessionMoreProduct(this)" id="btn-buy" class="btn btn-black py-3 px-5 mt-4 ">Buy now</a></p>
        </div>
    </div>

    <script type="text/javascript">
    
        loadCartProducts()
    
        document.querySelector("#currencies").onchange = () => {
            loadCartProducts()
        }
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
            
    </script>
    

{% endblock %}
